<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.personal.sutdbookingapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginPageNew"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookProf"
            android:label="Book Consultation"
            android:launchMode="singleTop"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".BookFacilities"
            android:label="Book Facilities"
            android:launchMode="singleTop"
            android:parentActivityName=".HomePage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".BookTimings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".HomePage"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginPageStaff"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfModeRequestsPage"
            android:screenOrientation="portrait"
            android:parentActivityName=".ProfModeHomePage"/>
        <activity
            android:name=".Prof"
            android:parentActivityName=".BookProf"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Facility"
            android:parentActivityName=".BookFacilities"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfModeHomePage"
            android:screenOrientation="portrait" />
        <activity android:name=".Bookings"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomePage"></activity>
        <activity android:name=".Calendar"
            android:screenOrientation="portrait"
            android:parentActivityName=".Prof"></activity>
        <activity
            android:name=".ConfirmBooking"
            android:screenOrientation="portrait"
            android:parentActivityName=".BookTimings"></activity>
        <activity
            android:name=".History"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomePage"></activity>
    </application>

</manifest>